.main-form {
    max-width: 100%;
}

.sentence-form-field {
    width: 100%;
}

.between {
    padding: 7px 20px 20px 20px;
}

.button_container {
    padding-top: 7px;
    padding-bottom: 20px;
}

.button {
    width: 150px;
}